body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(157, 132, 163);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-weight: 300;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

/*to call id use #value*/
#numbers{
    font-weight: 200;
    font-size: 40px;
    font-family: fantasy;

}

.btn-generate{
    font-weight: 300;
    background-color: aqua;
    border-radius: 12px;
    margin-top: 40px;
    padding: 10px 15px;
}


#total{
    font-weight: 300;
    font-size: 68px;
}

.btn-calculate{
    font-weight: 300;
    background-color: #4e73b8;
    border-radius: 8px;
    padding: 8px 13px;
}